*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(./anh/img.png);
    background-size: auto;
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff ;
}
.main{
    width: 100%;
    
}
.main_header
{
    width: 100%;
    text-transform: uppercase;
    align-items: center; 
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    width: 90%;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.header .nav div a{
    transition: all linear 0.1s;
}
.header .nav div:hover a{
    color:red;
}
.nav { 
    width: 40%;

}
.nav div{
   list-style: none ;
}
.nav div a {
    text-decoration: none;
    font-size: 32px;
}
.main_subnav{
width: 60%;
}
.subnav{
    display: flex;
    padding-right: 0%;
    padding-left: 0%;
    text-align: center;
}
.subnav li:hover a {
    color: red; 
}
.subnav ul  {
    display: flex;
}
.subnav li a{
    white-space: nowrap;
    transition: all linear 0.1s;

}
.subnav .main_menu .menu {
    margin-right: 18px;
}
.subnav .icon{
    display: flex;
    cursor: pointer;
}
.subnav .icon li{
    margin-right: 15px;
    color: #fff; 
}
.subnav .icon a i{
    width: 36px;
    height: 36px;
    background-color: #18242f;
    font-size: 18px;
    padding: 12px;
    border-radius: 50%;
    transition: all linear 0.2s;
}
.icon a i:hover {
    background-color: red;
    color: #fff;
}
.slide 
{
    width: 100%; 
}
.slide img {
    position: relative;
    width: 70%;
    height: 50vh;
    object-fit: cover;
    float:right;
    margin-left: auto;
    padding-top: 30px;
}
.slide .header  {
    position: relative;
}
.slide .hov{
    position:absolute;
    top:50%;
    left:45%;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px 18px;
}
.slide .hov:hover{
    transform: scale(0.9);
    cursor: pointer;
}
.content{
    padding-top: 10px;
  
}
.headline ul   {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.headline .line li{
   position: relative;
}
.headline .line li a img{
    height: 350px; 
    width: 660px;
    border-radius: 15px;
    object-fit: cover;
}
.headline .line .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 800;
    font-size: 23px;
    text-transform:uppercase;
    text-align: center;
    
}
.headline .line .text p{
    font-weight: 700;
    font-size: 15px;
}
.footer .backtop .ticon {
    font-size: 13px;
}
.footer .backtop{
   color: #fff;
   text-align: center;
   margin-top: 50px;
}
.footer .icon{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 20px;
}
.footer .icon li a i{
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.footer .pow{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-style:initial;
    font-size: 11px;
}